.ChatsMenu {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.ChatsMenu > .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  gap: 4px;
}

.ChatsMenu > .search-input > input {
  width: 90%;
}

.ChatsMenu > .search-input > button {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.ChatsMenu > .search-input > button:hover {
  opacity: .7;
}
