.Groups {
    margin-top: 6px;

    >.header 
        height: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2em;

        >button {
            font-size: 1.1em;
            height: 25px;
            width: 25px;
            cursor: pointer;
            color: white;
            margin-left: 20px;
            background-color: #03A9F1;
            border: none;
            border-radius: 4px;
        }
    }

    >.group-menu {
        //container
        width: 100%;
        margin-top: 6px;
        display: flex;
        align-items: center;
        gap: 6px;
        overflow-x: scroll;
        height: 170px;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-left: 10px;

        >.GroupMenu {
            flex: 0 0 1;
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            border: 1px solid white;
            padding: 5px;
            // 100/140
            width: 100px;
            height: 140px;
            border-radius: 30px;
            flex-shrink: 0;
            transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            >.group-name {
                text-align: center;
                font-size: 1.4em;
                overflow: hidden;
            }

            >.unsawmessages {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 0;
                border-radius: 50%;
                background-color: rgb(35, 183, 89);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            >.unsawmessages.anim {
                animation: scale-anim .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            & {
                background: #f79d00;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to top, #64f38c, #f79d00);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to top, #64f38c, #f79d00);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                cursor: pointer;
            }

            &:hover,
            &.active {
                scale: (1.05);
                border: 5px solid #03A9F1;
            }
        }
    }
}

@keyframes scale-anim {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.3;

    }

    100% {
        scale: 1;
    }
}