.Home {
    display: flex;
    font-family: 'Noto Sans Chakma', sans-serif;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100vh;

    >.left {
        min-width: 380px;
        height: 100%;
        background-color: #3F4E4F;
        position: relative;
        z-index: 2;
    }

    >.right {

        min-width: 300px;
        height: 100%;
        flex: 1;
        position: relative;
        z-index: 1;
    }

    background-color: #2C3639;
    color: white;
}

nav {
    position: absolute;
}