.Notifications {
    >.requests {
        cursor: pointer;
        width: max-content;
        border: 1px solid rgba(245, 245, 245, 0.644);
        width: 30px;
        height: 30px;

        &:hover {}

        >.request-num {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 84%;
            top: 60%;
            background-color: yellowgreen;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border-top-left-radius: 10%;
        }


    }


}