.Notifications > .requests {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid rgba(245, 245, 245, 0.644);
  width: 30px;
  height: 30px;
}

.Notifications > .requests > .request-num {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 84%;
  top: 60%;
  background-color: yellowgreen;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-top-left-radius: 10%;
}
